.header-component {
  position: absolute;
  z-index: 100;
}
.section-3 {
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
}
.section3-content {
  margin-top: 80px;
}
.section-3 > hr {
  height: 5px;
}
.section3-heading {
  color: #1c5629;
  font-size: 36.2px;
  font-style: normal;
  font-weight: 900;
}
.mini-border {
  margin-left: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-4 {
  text-align: center;
  background-color: #edeeed;
}

.section-6 {
  background-color: #ffffff;
}
.section-content {
  margin-top: 60px;
}
.section-content > h1 {
  text-align: center;
  color: #164932;
  font-weight: bold;
}

.section-2 {
  padding: 80px;
  width: 100%;
  height: 70vh;
  background-image: url("../../../public/images/bannerr1.webp");
  background-repeat: no-repeat, repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 20px;
  text-align: center;
}
.section-2 > h1 {
  text-align: center;
  color: white;
}

.section2-content {
  color: white;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.border-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 110px;
}

.button-center {
  margin-top: 20px;
  text-align: center;
}
.section2-button {
  background-color: #95bf8c;
  border-radius: 10.43px;
  box-shadow: 0px 1.88px 1.88px #00000040;
  height: 51px;
  justify-content: flex-end;
  min-width: 242px;
  padding: 1.8px 21.2px;
  font-size: 27px;
  font-weight: 600;
}
.arrow {
  margin-left: 20px;
  background-color: white;
  border-radius: 50%;
  height: 18px;
}

.section-5 {
  padding: 80px;
  color: white;
  width: 100%;
  height: 70vh;
  background-image: url("../../../public/images/banner.png");
  background-repeat: no-repeat, repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.section5-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.section5-text {
  width: 424px;
}
.section5-p {
  font-style: normal;
  font-weight: 700;
}
.section5-text > h1 {
  font-weight: 900;
}
.section5-image > img {
  margin-right: 40px;
  background-color: white;
  border: 10px solid;
  border-radius: 50%;
}
