.header-main {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 250px;
}
.logo-section {
  background-color: #ffffff;
  box-shadow: 0px 1.6px 1.6px #00000040;

  width: 10vmax;
  padding: 1vmax;
}
.logo-image {
  width: 5vmax;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.upper-section {
  width: 60vmax;
  background-color: blue;
  height: 2vmax;
}
.lower-section {
  width: 60vmax;
  background-color: #ffffff;
  box-shadow: 0px 1.6px 1.6px #00000040;
  height: 3vmax;
  margin-top: 80px;
}
.links {
    text-decoration: none;
    
}
.links > li{
  display: inline;
  margin-left: 10px;
}
.list {
    margin-top: 12px;
}

.plan-de-travail-1-copie {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1957px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.overlap-group8-1 {
  height: 264px;
  position: relative;
  width: 1296px;
}

.groupe-707 {
  display: flex;
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1296px;
}

.groupe-706 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 1296.5px;
}

.g-u-co-b5-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: -305px;
  margin-left: -101.2px;
  margin-right: -566.8px;
  margin-top: -386.5px;
  min-width: 1964.48px;
}

.overlap-group-7 {
  height: 955px;
  position: relative;
  width: 1964px;
}

.j-d0r-qq {
  background-position: 50% 50%;
  background-size: cover;
  height: 955px;
  left: 103px;
  position: absolute;
  top: 0;
  width: 1294px;
}

.groupe-705 {
  background-color: var(--parsley);
  height: 510px;
  left: 0;
  position: absolute;
  top: 179px;
  width: 1964px;
}

.overlap-group2-1 {
  height: 74px;
  left: 220px;
  position: absolute;
  top: 19px;
  width: 856px;
}

.rectangle-384 {
  background-color: var(--white);
  box-shadow: 0px 1.6px 1.6px #00000040;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 855px;
}

.rectangle-385 {
  background-color: var(--mercury);
  height: 27px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 723px;
}

.accueil-qui-so-1 {
  left: 142px;
  letter-spacing: 0;
  line-height: 16.4px;
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.rectangle-387 {
  background-color: var(--parsley);
  height: 5px;
  left: 211px;
  position: absolute;
  top: 69px;
  width: 160px;
}

.ligne-56 {
  height: 21px;
  left: 210px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1px;
}

.ligne-57 {
  height: 21px;
  left: 370px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1px;
}

.ligne-58 {
  height: 21px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1px;
}

.ligne-59 {
  height: 21px;
  left: 636px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1px;
}

.ligne-60 {
  height: 21px;
  left: 740px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1px;
}

.laaj-luu-man-def-ko-fu-u-xam-1 {
  left: 407px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.qui-sommes-nous {
  left: 458px;
  letter-spacing: 0;
  line-height: 43.4px;
  position: absolute;
  text-align: center;
  top: 144px;
  white-space: nowrap;
}

.accueil-qui-sommes-nous {
  left: 574px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 192px;
  white-space: nowrap;
}

.span0-1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.group-container-4 {
  align-items: center;
  display: flex;
  gap: 73px;
  margin-right: 11.26px;
  margin-top: 59px;
  min-width: 825px;
}

.groupe-734 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.61px;
  min-height: 344px;
  position: relative;
  width: 432px;
}

.overlap-group5-1 {
  height: 272px;
  margin-left: 0.26px;
  margin-top: 21px;
  position: relative;
  width: 432px;
}

.touba-ca-kanam-est-u-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 21px;
  font-weight: 900;
  height: 154px;
  left: 0;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 0;
  width: 422px;
}

.une-entit-associat {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  height: 129px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 143px;
  width: 432px;
}

.groupe-733 {
  align-items: center;
  background-color: var(--parsley);
  border-radius: 5.34px;
  box-shadow: 0px 1.21px 1.21px #00000040;
  display: flex;
  gap: 12px;
  height: 35px;
  margin-top: 15px;
  min-width: 147px;
  padding: 0 12.9px;
}

.barkeelu-5 {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 18.6px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-bottom: -0.9px;
  min-height: 29px;
  min-width: 86px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-8 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 11.03px;
  display: flex;
  height: 22px;
  margin-top: 1.38px;
  min-width: 22px;
  padding: 5.2px 2.9px;
}

.trac-1857 {
  height: 12px;
  object-fit: cover;
  width: 16px;
}

.overlap-group4 {
  height: 382px;
  position: relative;
  width: 320px;
}

.rectangle-395 {
  background-color: var(--mercury);
  height: 355px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 298px;
}

.groupe-730 {
  display: flex;
  height: 362px;
  left: 1px;
  position: absolute;
  top: 20px;
  width: 297px;
}

.groupe-729 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 297.24px;
}

.n-eqat1-1 {
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  margin-left: -260.2px;
  margin-right: -87.1px;
  width: 644.62px;
}

.trac-1856 {
  height: 364px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 299px;
}

.overlap-group6-1 {
  align-items: center;
  background-color: var(--concrete);
  display: flex;
  flex-direction: column;
  margin-top: 61px;
  min-height: 535px;
  padding: 68px 0;
  position: relative;
  width: 1280px;
}

.touba-ca-kanam-en-4-dates {
  letter-spacing: 0;
  line-height: 43.4px;
  margin-left: 2px;
  margin-top: 20px;
  min-height: 53px;
  min-width: 558px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group10 {
  height: 264px;
  margin-top: 22px;
  position: relative;
  width: 794px;
}

.les-debuts {
  left: 315px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.touba-ca-kanam-est {
  height: 223px;
  left: 82px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 41px;
  width: 632px;
}

.groupe-736 {
  display: flex;
  height: 65px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 106px;
  width: 794px;
}

.trac-1858 {
  margin-bottom: -0.2px;
  margin-left: -0.5px;
  margin-top: -0.2px;
  object-fit: cover;
  width: 24.84px;
}

.trac-1859 {
  margin-bottom: -0.2px;
  margin-right: -0.5px;
  margin-top: -0.2px;
  object-fit: cover;
  width: 24.84px;
}

.mission-container {
  height: 301px;
  margin-left: 2px;
  margin-top: 22px;
  position: relative;
  width: 632px;
}

.missions-objectifs-detouba-ca-kanam {
  left: 76px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.notre-mission-princi {
  height: 214px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 87px;
  width: 632px;
}

.overlap-group7-1 {
  height: 204px;
  margin-top: 51px;
  position: relative;
  width: 1288px;
}

.rectangle-382 {
  background-color: var(--swamp-green);
  height: 130px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1288px;
}

.rectangle-393 {
  background-color: var(--parsley);
  height: 192px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 1288px;
}

.groupe-728 {
  align-items: flex-end;
  display: flex;
  gap: 61px;
  height: 135px;
  left: 251px;
  min-width: 788px;
  position: absolute;
  top: 39px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 67px;
  height: 136px;
  margin-bottom: -4.1px;
  min-width: 468px;
}

.groupe-727 {
  background-color: var(--cararra);
  border-radius: 41.73px;
  display: flex;
  height: 83px;
  margin-top: 12.84px;
  width: 86px;
}

.ewxeqbtif-3 {
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  margin-bottom: 5px;
  margin-left: 5.7px;
  margin-right: 5.7px;
  margin-top: 5px;
  width: 74.55px;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: 315px;
}

.laaj-luu-mandef-ko-fu-u-xam-1 {
  letter-spacing: 0;
  line-height: 19.2px;
  min-height: 44px;
  white-space: nowrap;
}

.tl-221-33-888-28-1 {
  letter-spacing: 0;
  line-height: 14.4px;
  margin-top: 5px;
  min-height: 45px;
  white-space: nowrap;
}

.x2022-touba-ca-ka-1 {
  letter-spacing: 0;
  line-height: 14.4px;
  margin-top: 7px;
  min-height: 35px;
  white-space: nowrap;
}

.group-container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3px;
  min-height: 133px;
  width: 259px;
}

.overlap-group3-1 {
  height: 63px;
  position: relative;
  width: 259px;
}

.jotalil-sa-barkeelufo-meunti-nek-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.tlcharger-lapplic-1 {
  left: 2px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.groupe-719 {
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin-left: 1.95px;
  margin-top: 6px;
  width: 227px;
}

.b-qn-ci-ytif-2 {
  background-position: 50% 50%;
  background-size: cover;
  width: 114.27px;
}

.q8-ja3-htif-1 {
  background-position: 50% 50%;
  background-size: cover;
  width: 107.77px;
}

.groupe-726 {
  display: flex;
  height: 17px;
  justify-content: space-between;
  margin-left: 1.83px;
  margin-top: 13px;
  width: 230px;
}

.suivez-nous-sur-1 {
  letter-spacing: 0;
  line-height: 14.4px;
  margin-bottom: -3.3px;
  margin-top: 1.3px;
  white-space: nowrap;
  width: 115px;
}

.groupe-725 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 2.4px;
  margin-top: 0.4px;
  min-width: 112.07px;
}

.zddn6-stif-3 {
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  margin-bottom: 0;
  width: 8px;
}

.m-lc8-futif-3 {
  display: flex;
  height: 14px;
  margin-bottom: 0;
  margin-left: 13px;
  width: 14px;
}

.groupe-721 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 14.19px;
  padding: 2.3px 2.3px;
}

.trac-container-7 {
  height: 8px;
  position: relative;
  width: 8px;
}

.trac-1849 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 7px;
}

.trac-1850 {
  height: 2px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.cm-m-ktwtif-3 {
  align-self: flex-start;
  display: flex;
  height: 14px;
  margin-left: 12px;
  width: 14px;
}

.groupe-722 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
  min-height: 100%;
  width: 14.29px;
}

.trac-1853 {
  height: 3px;
  object-fit: cover;
  width: 3px;
}

.trac-container-8 {
  align-items: flex-end;
  display: flex;
  gap: 2px;
  margin-left: 0.23px;
  min-width: 14px;
}

.trac-1852 {
  height: 10px;
  object-fit: cover;
  width: 3px;
}

.trac-1851 {
  height: 10px;
  object-fit: cover;
  width: 9px;
}

.tz4-gjrtif-3 {
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  margin-left: 11px;
  width: 14px;
}

.t-br-unqtif-3 {
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  margin-bottom: 0;
  margin-left: 12px;
  width: 14px;
}
